@import '../styles/main.scss';

.section_artist_detail{
    padding:80px 0;
    background: #F0EBE6;
    .back_button{
        padding: 20px 0;
        font-size: 16px;
        a{
            display: inline-block;
            position: relative;
            padding-left: 42px;
            line-height: 32px;
            &:before{
                content: '';
                width: 32px;
                height: 32px;
                display: block;
                background: url('../assets/home/arrow_left_black.png') no-repeat center / 13px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 32px;
                border: 1px solid #000;
                transition: all 0.2s ease;
            }
            &:hover{
                &:before{
                    background: $green url('../assets/home/arrow_left_green.png') no-repeat center / 13px;
                    border: none;
                    transition: all 0.2s ease;
                }
            }
    }
    }
    .container{
        width: 100%;
        max-width: 1130px;
        margin: 0 auto;
    }
    .artist_detail{
        display:flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #000;
        padding-bottom: 60px;
        .detail_left{
            width:100%;
            max-width: 650px;
            img{
                width: 100%;
                display: block;
            }
        }
        .detail_right{
            width:calc(100% - 650px);
            padding: 0 0 0 30px;
            h3{
                font-size: 48px;
                margin-bottom: 20px;
                font-family: 'Antique Olive Std Black';
            }
            .artist_desc{
                font-family: 'Roboto';
                font-size: 16px;
            }
            .sosial_media{
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                .sm_box{
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-right: 20px;
                }
                .sm_tiktok{
                    width: 30px;
                    height: 30px;
                    background: url('../assets/main/icon-tiktok-black.png') no-repeat center / contain;
                    text-indent: -9999px;
                    display: block;
                }
                .sm_instagram{
                    width: 30px;
                    height: 30px;
                    background: url('../assets/main/icon-instagram-black.png') no-repeat center / contain;
                    text-indent: -9999px;
                    display: block;
                }
            }
        }
    }
    .discover_artist{
        padding-top: 60px;
        h2{
            font-size: 40px;
            font-family: 'Antique Olive Std Black';
            margin-bottom: 20px;
        }
        .content{
            display: flex;
            flex-wrap: wrap;
        }
    }
}