.artist_card{
    width: calc(100% / 2);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.artist_image{
    width: 250px;
    img{
        width: 100%;
        max-width: 100%;
    }
}
.artist_info{
    width: calc(100% - 250px);
    padding: 20px 40px;
    font-size: 16px;
    position: relative;
    font-family: 'Roboto';
    h3{
        font-size: 32px;
        margin-bottom: 10px;
        font-family: 'Antique Olive Std Bold';
    }
    .button{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border:1px solid #000;
        background: url('../assets/home/arrow_black.png') no-repeat center / 27px;
        position: absolute;
        bottom: 0;
        left: 40px;
        text-indent: -9999px;
        cursor: pointer;
    }
}