@import '../styles/main.scss';

.section_artist_detail {
  padding: 80px 0;
  background: #f0ebe6;
  .back_button {
    padding: 45px 0 45px;
    font-size: 16px;
    a {
      display: inline-block;
      position: relative;
      padding-left: 42px;
      line-height: 32px;
      &:before {
        content: '';
        width: 32px;
        height: 32px;
        display: block;
        background: url('../assets/home/arrow_left_black.png') no-repeat center /
          13px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 32px;
        border: 1px solid #000;
        transition: all 0.2s ease;
      }
      &:hover {
        &:before {
          background: $green url('../assets/home/arrow_left_green.png')
            no-repeat center / 13px;
          border: none;
          transition: all 0.2s ease;
        }
      }
    }
  }
  .container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
  }
  .artist_detail {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
    padding-bottom: 135px;
    .detail_left {
      width: 100%;
      max-width: 650px;
      img {
        width: 100%;
        display: block;
      }
      h3 {
        display: none;
      }
    }
    .detail_right {
      width: calc(100% - 650px);
      padding: 0 0 0 30px;
      ul{
        list-style: disc;
        padding-left: 20px;
      }
      ol{
        list-style: decimal;
        padding-left: 20px;
      }
      h3 {
        font-size: 48px;
        margin-bottom: 20px;
        font-family: 'Antique Olive Std Black';
      }
      .artist_desc {
        font-family: 'Roboto';
        font-size: 16px;
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          color: $orange;
          text-decoration: underline;
        }
      }
      .sosial_media {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .sm_box {
          width: 30px;
          height: 30px;
          display: block;
          margin-right: 20px;
        }
        .sm_tiktok {
          width: 30px;
          height: 30px;
          background: url('../assets/main/icon-tiktok-black.png') no-repeat
            center / contain;
          text-indent: -9999px;
          display: block;
        }
        .sm_instagram {
          width: 30px;
          height: 30px;
          background: url('../assets/main/icon-instagram-black.png') no-repeat
            center / contain;
          text-indent: -9999px;
          display: block;
        }
        .sm_facebook {
          width: 30px;
          height: 30px;
          background: url('../assets/main/icon-facebook-black.png') no-repeat
            center / contain;
          text-indent: -9999px;
          display: block;
        }
        .sm_youtube {
          width: 30px;
          height: 30px;
          background: url('../assets/main/icon-youtube-black.png') no-repeat
            center / contain;
          text-indent: -9999px;
          display: block;
        }
      }
      .addon_box{
        border-top: 1px solid #000;
        padding-top: 40px;
        display: none;
        .addon_content{
          width: 356px;
          h5{
            font-size: 20px;
            font-family: 'Antique Olive Std Bold';
            margin-bottom: 20px;
          }
          .addon_status{
            padding: 20px;
            &.fnb{
              background: $yellow;
            }
            &.music{
              background: $purple;
            }
            &.ombakkids{
              background: $blue;
            }
            &.visualarts{
              background: $green;
              button{
                &:hover {
                  background: #FFE17F;
                  color: #000;
                }
              }
            }
            h4{
              font-size: 24px;
              font-family: 'Antique Olive Std Bold';
              margin-bottom: 20px;
            }
            span{
              font-family: 'Roboto';
              display: block;
              font-size: 20px;
              font-weight: 500;
              margin-bottom: 20px;
            }
            button{
              width: 100%;
              height: 45px;
              background: $orange;
              color: #fff;
              font-size: 16px;
              text-transform: uppercase;
              font-family: 'Antique Olive Std Black';
              border: none;
              border-radius: 45px;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                background: rgb(181, 189, 35);
                color: rgb(6, 72, 78);
              }
            }
          }
        }
      }
    }
  }
  .discover_artist {
    padding-top: 116px;
    h2 {
      font-size: 40px;
      font-family: 'Antique Olive Std Black';
      margin-bottom: 20px;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
    }
    .discover_box {
      width: calc((100% - 50px) / 3);
      margin-right: 25px;
      margin-bottom: 40px;
      &:last-child{
        margin-right: 0;
      }
      &:nth-child(1){
        .discover_image{
          mask-image: url('../assets/main/new-Mask-group5.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
          mask-size: cover;
          -webkit-mask-image: url('../assets/main/new-Mask-group5.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
          -webkit-mask-size: cover;
        }
      }
      &:nth-child(2){
        .discover_image{
          mask-image: url('../assets/main/new-Mask-group6.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
          mask-size: cover;
          -webkit-mask-image: url('../assets/main/new-Mask-group6.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
          -webkit-mask-size: cover;
        }
      }
      &:nth-child(3){
        .discover_image{
          mask-image: url('../assets/main/new-Mask-group7.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
          mask-size: cover;
          -webkit-mask-image: url('../assets/main/new-Mask-group7.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
          -webkit-mask-size: cover;
        }
      }
      .discover_image {
        width: 100%;
        height: 285px;
        display: block;
        margin-bottom: 25px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
            transition: all 0.2s ease;
        }
      }
      &:hover{
        .discover_image{
            img{
                transform: scale(1.1);
                transition: all 0.2s ease;
            }
        }
      }
      .discover_info {
        font-size: 32px;
        font-family: 'Antique Olive Std Bold';
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 1129px) {
  .section_artist_detail {
    .back_button {
      padding-left: 40px;
    }
    .artist_detail {
      display: block;
      border: none;
      padding-bottom: 0;
      .detail_left {
        width: 100%;
        h3 {
          display: block;
          font-size: 42px;
          margin-bottom: 20px;
          font-family: 'Antique Olive Std Black';
          padding-left: 40px;
          padding-right: 40px;
        }
        img {
          margin-left: 40px;
        }
      }
      .detail_right {
        width: 100%;
        display: block;
        padding: 40px;
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background: #000;
          margin: 100px auto 0;
          display: block;
        }
        p {
          padding-right: 100px;
        }
        h3 {
          display: none;
        }
        .addon_box{
          .addon_content{
            width: 100%;
            .addon_status{
              max-width: 356px;
            }
          }
        }
      }
    }
    .discover_artist {
      padding: 20px 40px;
      h2 {
        font-size: 36px;
        margin-bottom: 40px;
      }
      .discover_box{
        .discover_info{
          font-size: 20px;
        }
        .discover_image{
          height: 243px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px){
  .section_artist_detail{
    .discover_artist{
      .discover_box{
        .discover_image{
          height: 168px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section_artist_detail {
    padding-top: 60px;
    padding-bottom: 0;
    .back_button {
      padding: 40px 0px 40px 20px;
    }
    .artist_detail {
      display: block;
      border: none;
      padding-bottom: 0;
      .detail_left {
        width: 100%;
        h3 {
          display: block;
          font-size: 36px;
          margin-bottom: 20px;
          font-family: 'Antique Olive Std Black';
          padding-left: 20px;
          padding-right: 20px;
        }
        img {
          margin-left: 0;
        }
      }
      .detail_right {
        width: 100%;
        display: block;
        padding: 32px 20px 20px;
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background: #000;
          margin: 100px auto 0;
          display: block;
        }
        p {
          padding-right: 0;
        }
        h3 {
          display: none;
        }
        .addon_box{
          .addon_content{
            width: 100%;
          }
        }
      }
    }
    .discover_artist {
      padding: 70px 20px 20px;
      h2 {
        font-size: 28px;
        line-height: 34px;
      }
      .discover_box{
        width: 100%;
        margin-right: 0;
        margin-bottom: 64px;
        .discover_info{
          font-size: 24px;
        }
        .discover_image{
          height: 265px;
        }
      }
    }
  }
}
