@import './main.scss';

.section_get_ticktes {
  padding-top: 80px;
  .sgt_top {
    width: 100%;
    background: $green url('../assets/main/get_ticket_wave.png') no-repeat bottom right / contain;
    color: #000;
    .container {
      height: 200px;
      max-width: 1130px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      h3 {
        font-size: 58px;
        font-family: 'Antique Olive Std Black';
      }
    }
  }
  .sgt_nav {
    width: 100%;
    background: #fff;
    position: sticky;
    top: 80px;
    z-index: 100;
    .container {
      max-width: 1130px;
      margin: 0 auto;
      display: flex;
    }
    .sgt_nav_box {
        margin-right: 30px;
        padding: 20px 0;
        display: block;
        &.active {
            padding-bottom: 15px;
            border-bottom: 5px solid $orange;
        }
    }
  }
  .info_middle {
    background: #f0ebe6;
    padding: 40px 0 125px;
    .container {
      max-width: 1130px;
      margin: 0 auto;
    }
    .title_box {
      padding-top: 104px;
      margin-bottom: 20px;
      h3 {
        font-size: 32px;
        font-family: 'Antique Olive Std Black';
        margin-bottom: 20px;
        }
      p {
        font-size: 16px;
        font-family: 'Roboto';
      }
    }
    .general_admission{
        .title_box{
          padding-top: 40px;
        }
        .ga_flex{
            display: flex;
            flex-wrap: wrap;
        }
        .ga_box{
            width: calc((100% - 20px)/2);
            background: $darkgreen url('../assets/main/ga_wave.png') no-repeat top right / 50px;
            color:#fff;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 27px 20px;
            font-family: 'Roboto';
            &:nth-child(2n){
                margin-right: 0;
            }
            h3{
                font-family: 'Antique Olive Std Bold';
                font-size: 24px;
                display: block;
                margin-bottom: 20px;
                line-height: normal;
                padding-right: 50px;
                span{
                  font-size: 16px;
                  font-family: 'Antique Olive Std Roman';
                }
            }
            ul{
                list-style: disc;
                padding-left: 20px;
                margin-bottom: 20px;
            }
            strong{
                font-weight: bold;
                color:#FFE17F;
            }
            .ga_price{
                span{
                    font-size: 28px;
                    line-height: 45px;
                    font-weight: 500;
                    font-family: 'Roboto';
                    display: block;
                    float: left;
                }
                button{
                    min-width: 125px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 45px;
                    background: $orange;
                    font-family: 'Antique Olive Std Black';
                    float: right;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    &:hover {
                      background: rgb(181, 189, 35);
                      color: rgb(6, 72, 78);
                    }
                }
            }
        }
    }
    .hotel_packages{
        .hp_box{
            .hp_flex{
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                border: 1px solid #000;
                margin-bottom: 20px;
            }
            .hp_image{
                width: calc((100% - 20px)/2);
                margin-right: 20px;
            }
            .hp_info{
                width: calc((100% - 20px)/2);
                font-family: 'Roboto';
                font-size: 16px;
                h4{
                    margin-bottom: 20px;
                    font-size: 24px;
                    font-family: 'Antique Olive Std Bold';
                }
                ul{
                    list-style: disc;
                    padding-left: 20px;
                    margin-bottom: 20px;
                }
                .hp_price{
                  margin-top:32px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;   
                    }
                    .price_text{
                        float: left;
                        span{
                            font-size: 28px;
                            line-height: 45px;
                            font-weight: 500;
                            font-family: 'Roboto';
                        }
                    }
                    button{
                        min-width: 125px;
                        padding: 0 20px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        border-radius: 45px;
                        background: $orange;
                        font-family: 'Antique Olive Std Black';
                        float: right;
                        color:#fff;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        &:hover {
                          background: rgb(181, 189, 35);
                          color: rgb(6, 72, 78);
                        }
                    }
                }
            }
        }
    }
    .addons{
        .title_box{
            font-family: 'Roboto';
            margin-bottom: 30px;
            strong{
                font-weight: bold;
            }
            h3{
                margin-bottom: 0;
                line-height: normal;
            }
        }
        .addon_row_flex{
          display: flex;
          flex-wrap: wrap;
        }
        .addon_box{
            width: calc((100% - 40px)/3);
            margin-right: 20px;
            margin-bottom: 25px;
            padding-bottom: 68px;
            &:nth-child(3n){
                margin-right: 0;
            }
            &.visualarts{
              .addon_info{
                button{
                  &:hover {
                    background: #FFE17F;
                    color: #000;
                  }
                }
              }
            }
            .addon_info{
                padding: 25px 20px 20px;
                .ai_box{
                    height: 230px;
                }
                h4{
                    font-size: 24px;
                    margin-bottom: 10px;
                    line-height: normal;
                }
                span{
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Roboto';
                }
                p{
                  font-family: 'Roboto';
                  margin-bottom: 20px;
                  a{
                    color:#fff;
                    text-decoration: underline;
                  }
                }
                button{
                    min-width: 125px;
                    width: 100%;
                    padding: 0 20px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 45px;
                    background: $orange;
                    font-family: 'Antique Olive Std Black';
                    color:#fff;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    &:hover {
                      background: rgb(181, 189, 35);
                      color: rgb(6, 72, 78);
                    }
                }
                .view_btn{
                    line-height: 45px;
                    font-family: 'Antique Olive Std Roman';
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    a{
                      text-decoration: underline;
                    }
                }
            }
            .addon_image{
                width: 100%;
                img{
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
            &.ombakkids{
                background: $blue url('../assets/main/wave_green_addon.png') no-repeat bottom left / contain;
            }
            &.fnb{
                background: $yellow url('../assets/main/wave_darkgreen_addon.png') no-repeat bottom left / contain;
            }
            &.visualarts{
                background: $green url('../assets/main/wave_yellow_addon.png') no-repeat bottom left / contain;
            }
            &.music{
                background: $purple url('../assets/main/wave_green_addon.png') no-repeat bottom left / contain;
                color:#fff;
            }
        }
    }
  }
}
@media only screen and (max-width: 1129px) {
  .section_get_ticktes {
    padding-top: 60px;
    .sgt_top {
      .container {
        height: 160px;
        padding-left: 40px;
        padding-right: 40px;
        h3 {
          font-size: 34px;
        }
      }
    }
    .sgt_nav {
      top:60px;
      .container {
        padding: 0 40px;
        .sgt_nav_box {
          &.active {
            a {
              padding-bottom: 13px;
            }
          }
        }
        a {
          padding: 18px 0;
        }
      }
    }
    .info_middle {
      padding:40px;
      .title_box {
        padding-top: 80px;
        padding-left: 0;
        padding-right: 40px;
        border: none;
        padding-bottom: 0;
        h3 {
          font-size: 28px;
          margin: 0;
          padding: 0;
          &.no_border{
            padding-bottom: 10px;
          }
        }
      }
      .info_box {
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          background: #000;
          margin: 0 auto;
        }
      }
      .info_title {
        font-size: 24px;
        padding-right: 57px;
        .toggle_btn {
          width: 42px;
          height: 42px;
        }
      }
      .info_answer {
        table {
          width: 100% !important;
          border: 1.5px solid #000;
          &:first-child {
            tr {
              td {
                padding: 14px 12px;
              }
            }
          }
          tr {
            border: 1.5px solid #000;

            td {
              border: 1.5px solid #000;
              padding: 20px 12px;
            }
          }
        }
      }
      .addons{
        .addon_box{
          .addon_info{
            .ai_box{
              height: 300px;
            }
          }
        }
      }
      .general_admission{
        .title_box{
          padding-top: 20px;
        }
        .ga_box{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .hotel_packages{
        .hp_box{
          .hp_flex{
            align-items: start;
            &:last-child{
              margin-bottom: 0;
            }
          }
          .hp_info{
            .hp_price{
              .price_text{
                float: none;
              }
              button{
                float: none;
              }
            }
          }
        }
      }
      .addons{
        .addon_box{
          padding-bottom: 40px;
          .addon_info{
            h4{
              font-size: 18px;
            }
            span{
              font-size: 16px;
            }
            .view_btn{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .section_get_ticktes{
    .content_item{
      .item_info{
        h4{
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section_get_ticktes {
    padding-top: 60px;
    .sgt_top {
      background: $green url('../assets/main/get_ticket_wave_mobile.png') no-repeat bottom right / contain;
      .container {
        height: 150px;
        padding-left: 20px;
        h3 {
          font-size: 36px;
        }
      }
    }
    .sgt_nav {
      top:60px;
      .container {
        padding: 0 20px;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: unset;
        justify-content: unset;
        .sgt_nav_box {
          display: inline-block;
          &.active {
            a {
              padding-bottom: 13px;
            }
          }
        }
        a {
          padding: 18px 0;
        }
      }
    }
    .info_middle {
      padding: 40px 20px;
      .title_box {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 20px;
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
        h3 {
          font-size: 28px;
          margin: 0;
          padding: 0 0 24px;
          &.no_border{
            padding-bottom: 10px;
          }
        }
      }
      .general_admission{
        .title_box{
          padding-top: 8px;
        }
        .ga_box{
          width: 100%;
          margin-right: 0;
          h3{
            span{
              display: block;
            }
          }
        }
      }
      .hotel_packages{
        .hp_box{
          .hp_flex{
            display: block;
            .hp_image{
              width: 100%;
              margin: 0 0 20px;
            }
            .hp_info{
              width: 100%;
              margin: 0;
            }
          }
        }
      }
      .addons{
        .addon_row_flex{
          width: 100%;
          display: block;
          .addon_box{
            width: 100%;
            margin-right: 0;
            padding-bottom: 66px;
            .addon_info{
              h4{
                font-size: 20px;
              }
              .ai_box{
                height: auto;
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  .general_info_content{
    .info_section{
      padding:0 20px;
    }
  }
  .section_get_ticktes{
    .faq_info{
      margin-top: 60px;
      h4{
        font-size: 24px;
      }
    }
    .content_item{
      .item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 48px;
      }
      .item_info{
        h4{
          font-size: 24px;
        }
      }
    }
  }
}
