@import './main.scss';

header{
    width: 100%;
    height: 80px;
    background: $purple;
    position: fixed;
    color:$yellow;
    z-index: 100;
    .container{
        width: 100%;
        max-width: 1130px;
        margin: 0 auto;
        position: relative;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #logo{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .burger_menu_btn{
        width: 36px;
        height: 36px;
        display: none;
        position: absolute;
        top: 12px;
        right: 20px;
        border-radius: 36px;
        border: 1px solid #fff;
        background: url('../assets/main/burger_menu.png') no-repeat center / 14px;
    }
}
nav{
    ul{
        li{
            a{
                color: $white;
                padding:0 20px;
                font-size: 18px;
            }
        }
    }
}
.get_ticket_btn{
    background: $orange;
    color: $white;
    width: 140px;
    height: 45px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 45px;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
@media only screen and (max-width:959px){
    
}
@media only screen and (max-width:767px){
    body{
        overflow-x: hidden;
    }
    header{
        height: 60px;
        .container{
            height: 60px;
        }
        .burger_menu_btn{
            display: block;
        }
        .get_ticket_btn{
            display: none;
        }
        #logo{
            left: 20px;
        }
        nav{
            display: none;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background: $purple;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li{
                    width: 100%;
                    text-align: center;
                    a{
                        display: block;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}