@import './main.scss';

.section_info {
  padding-top: 80px;
  .si_top {
    width: 100%;
    background: $orange url('../assets/main/info_wave.png') no-repeat bottom
      right 40px / 280px;
    color: #fff;
    .container {
      height: 200px;
      max-width: 1130px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      h3 {
        font-size: 58px;
        font-family: 'Antique Olive Std Black';
      }
    }
  }
  .si_nav {
    width: 100%;
    background: #fff;
    .container {
      max-width: 1130px;
      margin: 0 auto;
      display: flex;
    }
    .si_nav_box {
      margin-right: 30px;
      a {
        padding: 20px 0;
        display: block;
      }
      &.active {
        a {
          padding-bottom: 15px;
          border-bottom: 5px solid $orange;
        }
      }
    }
  }
  .info_middle {
    background: #f0ebe6;
    padding: 40px 0;
    .container {
      max-width: 1130px;
      margin: 0 auto;
    }
    .title_box {
      padding-top: 20px;
      margin-bottom: 20px;
      h3 {
        font-size: 40px;
        padding-bottom: 40px;
        font-family: 'Antique Olive Std Black';
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
        &.no_border{
          border: none;
        }
      }
      p {
        font-size: 16px;
        font-family: 'Roboto';
      }
    }
    .info_box {
      margin-bottom: 40px;
      border-bottom: 1px solid #000;
      padding-bottom: 0;
    }
    .info_title {
      font-size: 32px;
      font-family: 'Antique Olive Std Bold';
      padding: 20px 0 40px;
      position: relative;
      cursor: pointer;
      .toggle_btn {
        position: absolute;
        top: 18px;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: $orange url('../assets/main/icon_add.png') no-repeat center /
          20px;
        border: none;
        cursor: pointer;
        &.active {
          border: 1px solid #000;
          background: url('../assets/main/icon_min.png') no-repeat center / 20px;
        }
      }
    }
    .info_content {
      margin-bottom: 40px;
      ul {
        list-style: disc;
        padding-top: 10px;
        padding-left: 20px;
        li {
          margin-bottom: 0px;
        }
      }
      a {
        text-decoration: underline;
      }
    }
    .info_question {
      font-size: 20px;
      font-family: 'Antique Olive Std Bold';
      margin-bottom: 5px;
    }
    .info_answer {
      font-size: 16px;
      font-family: 'Roboto';
      a {
        color: #ff6255;

        &:hover {
          color: rgb(255, 0, 43);
        }
      }
      table {
        width: 100% !important;
        border: 1.5px solid #000;
        &:first-child {
          tr {
            td {
              padding: 20px 32px;
            }
          }
        }
        tr {
          border: 1.5px solid #000;
          td {
            border: 1.5px solid #000;
            padding: 32px;
            &:nth-child(1) {
              width: 70% !important;
            }
            &:nth-child(2) {
              width: 30% !important;
            }
          }
        }
      }
    }
  }
  .content_item{
    display: flex;
    flex-wrap: wrap;
    .item{
      width: calc((100% - 50px) / 3);
      margin-right: 25px;
      border:1px solid #000;
      padding: 15px;
      font-size: 16px;
      font-family: 'Roboto';
      padding-bottom: 100px;
      &.wave1{
        background: url('../assets/main/wave1.png') no-repeat bottom center / contain;
      }
      &.wave2{
        background: url('../assets/main/wave2.png') no-repeat bottom center / contain;
      }
      &.wave3{
        background: url('../assets/main/wave3.png') no-repeat bottom center / contain;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    .item_image{
      img{
        width: 100%;
        height: auto;
      }
    }
    .item_info{
      h4{
        font-size: 32px;
        font-family: 'Antique Olive Std Bold';
        margin-bottom: 10px;
      }
    }
    img{
      margin-bottom: 20px;
    }
    ul{
      list-style: disc;
      padding-left: 20px;
    }
  }
  .faq_info {
    padding: 60px 0;
    text-align: center;
    font-size: 24px;
    border-top: 1px solid #000;
    margin-top: 100px;
    button {
      margin-top: 20px;
      height: 45px;
      text-transform: uppercase;
      padding: 0 20px;
      border-radius: 45px;
      background: rgba(6, 72, 78, 1);
      font-size: 16px;
      color: #fff;
      transition: all 0.2s ease;
      &:hover {
        background: $green;
        color: $darkgreen;
        transition: all 0.2s ease;
      }
    }
  }
}
@media only screen and (max-width: 1129px) {
  .section_info {
    padding-top: 60px;
    .si_top {
      background-size: 220px;
      .container {
        height: 160px;
        padding-left: 40px;
        padding-right: 40px;
        h3 {
          font-size: 34px;
        }
      }
    }
    .si_nav {
      .container {
        padding: 0 40px;
        .si_nav_box {
          &.active {
            a {
              padding-bottom: 13px;
            }
          }
        }
        a {
          padding: 18px 0;
        }
      }
    }
    .info_middle {
      .title_box {
        padding-top: 0;
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        padding-bottom: 0;
        h3 {
          font-size: 28px;
          margin: 0;
          padding: 0 0 25px;
          &.no_border{
            padding-bottom: 10px;
          }
        }
      }
      .info_box {
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          background: #000;
          margin: 0 auto;
        }
      }
      .info_title {
        font-size: 24px;
        padding-right: 57px;
        .toggle_btn {
          width: 42px;
          height: 42px;
        }
      }
      .info_answer {
        table {
          width: 100% !important;
          border: 1.5px solid #000;
          &:first-child {
            tr {
              td {
                padding: 14px 12px;
              }
            }
          }
          tr {
            border: 1.5px solid #000;

            td {
              border: 1.5px solid #000;
              padding: 20px 12px;
            }
          }
        }
      }
    }
  }
  .general_info_content{
    .info_section{
      padding:0 40px;
    }
  }
  .section_info{
    .content_item{
      .item_info{
        h4{
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .section_info {
    padding-top: 60px;
    .si_top {
      background-position: bottom right -75px;
      background-size: 200px;
      .container {
        height: 150px;
        padding-left: 20px;
        h3 {
          font-size: 36px;
        }
      }
    }
    .si_nav {
      .container {
        padding: 0 20px;
        .si_nav_box {
          &.active {
            a {
              padding-bottom: 13px;
            }
          }
        }
        a {
          padding: 18px 0;
        }
      }
    }
    .info_middle {
      .title_box {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        padding-bottom: 0;
        h3 {
          font-size: 28px;
          margin: 0;
          padding: 0 0 25px;
          &.no_border{
            padding-bottom: 10px;
          }
        }
      }
      .info_box {
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          background: #000;
          margin: 0 auto;
        }
      }
      .info_title {
        font-size: 24px;
        padding-right: 57px;
        .toggle_btn {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
  .general_info_content{
    .info_section{
      padding:0 20px;
    }
  }
  .section_info{
    .faq_info{
      margin-top: 60px;
      h4{
        font-size: 24px;
      }
    }
    .content_item{
      .item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      .item_info{
        h4{
          font-size: 24px;
        }
      }
    }
  }
}
