.filter_map{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .fm_box{
        border: 1px solid #000;
        height: 80px;
        display: flex;
        align-items: center;
        margin-right: 12px;
        width: 110px;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        &:hover,
        &.active{
            background: #06484E;
            color: #fff;
            img{
                filter: invert(100%);
                transition: all 0.5s ease;
            }
        }
        img{
            width: auto;
            height: auto;
            display: block;
            transition: all 0.5s ease;
        }
        &.overview{
            img{
                width: 77px;
                height: 14px;
            }
        }
        &.main-stage{
            img{
                width: 53px;
                height: 49px;
            }
        }
        &.hard-rock{
            img{
                width: 63px;
                height: 49px;
            }
        }
        &.the-westin{
            img{
                width: 86px;
                height: 33px;
            }
        }
        &.anantara{
            img{
                width: 78px;
                height: 48px;
            }
        }
        &.one-and-only{
            img{
                width: 71px;
                height: 40px;
            }
        }
        &.riverside{
            img{
                width: 72px;
                height: auto;
            }
        }
        &.the-els-club{
            img{
                width: 60px;
                height: 50px;
            }
        }
    }
}
.legend_wrapper{
    position: relative;
    &.Overview{
        .legend_box{
            display: none;
        }
    }
    .legend_box{
        width: 160px;
        border-radius: 10px;
        background: rgba(255,255,255,0.8);
        padding: 20px 12px 10px;
        position: absolute;
        top: 40px;
        z-index: 10;
        left: calc((100vw - 1130px)/2);
        h3{
            font-size: 16px;
            font-family: 'Antique Olive Std Bold';
            margin-bottom: 10px;
        }
        .legend{
            padding-left: 30px;
            min-height: 34px;
            font-size: 14px;
            font-family: 'Roboto';
            line-height: normal;
            margin-bottom: 3px;
            &.music{
                background: url('../assets/main/pin_music.png') no-repeat top left / 25px;
            }
            &.ombak-kids{
                background: url('../assets/main/pin_ombak_kids.png') no-repeat top left / 25px;
                line-height: 34px;
            }
            &.visual-arts{
                background: url('../assets/main/pin_visual_arts.png') no-repeat top left / 25px;
            }
            &.fnb{
                background: url('../assets/main/pin_fnb.png') no-repeat top left / 25px;
                line-height: 34px;
            }
            &.reusable{
                background: url('../assets/main/icon_reusable_cups.png') no-repeat left center / 25px;
            }
            &.dispenser{
                background: url('../assets/main/icon_water_dispenser.png') no-repeat left center / 25px;
                line-height: 34px;
            }
            &.shuttle{
                background: url('../assets/main/icon_shuttle_bus.png') no-repeat left center / 25px;
                line-height: normal;
                margin-bottom: 0;
            }
        }
    }
}
.map_image{
    width: 100%;
    position: relative;
    &.HardRock{
        .pin_modal{
            &.parking {
                .parking_image{
                    margin-top: 20px;
                    width: 70px;
                    height: 42px;
                    background: url('../assets/home/hardrock.png') no-repeat center / contain;
                    filter: invert(100%);
                }
            }  
        }
    }
    &.Riverside{
        .pin_modal{
            &.parking {
                .parking_image{
                    margin-top: 20px;
                    width: 70px;
                    height: 42px;
                    background: url('../assets/home/adventure_waterpark.png') no-repeat center / contain;
                    filter: invert(100%);
                }
            }  
        }
    }
    &.Anantara{
        .pin_modal{
            &.parking {
                .parking_image{
                    margin-top: 20px;
                    width: 70px;
                    height: 42px;
                    background: url('../assets/home/anantara.png') no-repeat center / contain;
                    filter: invert(100%);
                }
            }  
        }
    }
    &.TheWestin{
        .pin_modal{
            &.parking {
                .parking_image{
                    margin-top: 20px;
                    width: 70px;
                    height: 42px;
                    background: url('../assets/home/thewestin.png') no-repeat center / contain;
                    filter: invert(100%);
                }
            }  
        }
    }
    &.OneandOnly{
        .pin_modal{
            &.parking {
                .parking_image{
                    margin-top: 20px;
                    width: 70px;
                    height: 42px;
                    background: url('../assets/home/onenonly.png') no-repeat center / contain;
                    filter: invert(100%);
                }
            }  
        }
    }
    .map_img{
        width: 100%;
        display: block;
    }
    .pin_image{
        position: absolute;
        //top: -(calc((100vw * 4.685)/100));
        left: 50%;
        transform: translateX(-50%);
        //width: calc((100vw * 3.8)/100);
        //height: calc((100vw * 4.685)/100);
        display: block;
        cursor: pointer;
        &.venue{
            top: -54px;
            width: 85px;
            height: 54px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
    .pin_modal{
        width: 225px;
        padding: 20px 15px;
        background: #FFFFFF;
        position: absolute;
        top: calc(50% - 31.5px);
        left: 44px;
        transform: translateY(-50%);
        z-index: 10;
        font-family: 'Roboto';
        h4{
            font-size: 20px;
            font-family: 'Antique Olive Std Bold';
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            font-family: 'Roboto';
        }
        ul{
            list-style: disc;
            padding-left: 20px;
        }
        ol{
            list-style: decimal;
            padding-left: 20px;
        }
        .img_detail{
            margin-top: 20px;
        }
        &.parking{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_gray.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_parking.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        a{
            color: #FF6255;
            text-decoration: underline;
        }
        &.golf{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_darkgreen.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_golf.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.medic_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_orange.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_medic.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.f-b{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_yellow.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_fandb.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.overview{
            background: #06484E url('../assets/main/modal_wave_green.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            top: calc(50% - 27px);
            color:#fff;
            left: 50px;
            &.terminal-feri{
                left: auto;
                right: 50px;
                &::after{
                    left: auto;
                    right: -12px;
                    background: url('../assets/main/icon_arrow_right_dark_green.png') no-repeat center / contain;
                }
            }
            .pp_image{
                width: 80px;
                height: 48px;
                display: block;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                    filter: invert(100%);
                }
            }
            h4{
                display: none;
            }
            p{
                margin: 20px 0;
            }
            &::after{
                content: '';
                width: 16px;
                height: 26px;
                display: block;
                background: url('../assets/main/icon_arrow_left_dark_green.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
        }
        &.ombak-kids{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_blue.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_ombak.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.surau_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_gray.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_surau.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.music-performances{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_purple.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_music.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.visual-arts-craft{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_green.png') no-repeat bottom left / contain;
            padding-bottom: 50px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_art.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
    }
}

@media only screen and (max-width: 1129px) {
    .filter_btn{
        display: none;
    }
    .section_info{
        .si_nav{
            .container{
                display: flex;
                overflow-x: scroll;
                overflow-y: auto;
                white-space: nowrap;
            }
            .si_nav_box{
                display: inline-block;
            }
        }
    }
    .legend_wrapper{
        .legend_box{
            width: 350px;
            height: 50px;
            padding-top: 15px;
            overflow: hidden;
            top:20px;
            left: 40px;
            background: rgba(255,255,255,0.8) url('../assets/main/icon_arrow_bottom.png') no-repeat right 20px top 22px / 12px;
            &.active{
                height: auto;
                background: rgba(255,255,255,0.8) url('../assets/main/icon_arrow_up.png') no-repeat right 20px top 22px / 12px;
            }
            .row_flex{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            .legend{
                width: calc(100% / 2);
                padding-right: 20px;
                margin-bottom: 5px;
                &.shuttle{
                    width: 70%;
                }
            }
        }
    }
    .map_image{
        overflow-x: scroll;
        overflow-y: auto;
        height: 716px;
        .map_img{
            height: 716px;
            max-width: none;
            width: 1366px;
        }
        .pin_point_box{
            width: 1366px;
            height: 716px;
            top: 0;
            left: 0;
            position: absolute;
        }
        .pin_modal{
            h4{
                font-size: 18px;
            }
            ul{
                li{
                    font-size: 14px;
                }
            }
        }
    }
    .filter_map{
        padding: 0 40px;
        height: 80px;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        .fm_box{
            display: inline-block;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .section_info{
        .info_middle{
            padding-bottom: 20px;
        }
    }
    .legend_wrapper{
        .legend_box{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .filter_map{
        padding: 0 20px;
    }
}