.filter_map{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .fm_box{
        border: 1px solid #000;
        height: 56px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        min-width: 75px;
        justify-content: center;
        cursor: pointer;
        &:hover,
        &.active{
            background: #06484E;
            color: #fff;
        }
        img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
.map_image{
    width: 100%;
    position: relative;
    .map_img{
        width: 100%;
        display: block;
    }
    .pin_image{
        position: absolute;
        top: -43px;
        left: 50%;
        transform: translateX(-50%);
        width: 35px;
        height: 43px;
        display: block;
        cursor: pointer;
        &.venue{
            top: -54px;
            width: 85px;
            height: 54px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
    .pin_modal{
        width: 225px;
        padding: 15px;
        background: #FFFFFF;
        position: absolute;
        top: calc(50% - 21.5px);
        left: 30px;
        transform: translateY(-50%);
        z-index: 10;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 14px;
            font-family: 'Roboto';
        }
        .img_detail{
            margin-top: 20px;
        }
        &.parking_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_blue.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_parking.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.washroom_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_green.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_washroom.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.medic_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_orange.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_medic.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.fandb_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_yellow.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_fandb.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.venue_modal{
            background: #fff url('../assets/main/modal_wave_darkgreen.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            top: calc(50% - 27px);
            left: 50px;
            h4{
                display: none;
            }
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
        }
        &.toilet_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_purple.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_toilet.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.surau_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_gray.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_surau.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
        &.art_modal{
            padding-top: 25px;
            background: #fff url('../assets/main/modal_wave_green.png') no-repeat bottom left / contain;
            padding-bottom: 35px;
            &::after{
                content: '';
                width: 12px;
                height: 22px;
                display: block;
                background: url('../assets/main/icon_arrow_left.png') no-repeat center / contain;
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                z-index: -1;
            }
            &::before{
                content: '';
                width: 42px;
                height: 42px;
                display: block;
                background: url('../assets/main/icon_art.png') no-repeat center / contain;
                position: absolute;
                top: -21px;
                left: 21px;
            }
        }
    }
}
.filter_btn{
    display: none;
}

@media only screen and (max-width: 1129px) {
    .filter_btn{
        display: none;
    }
    .section_info{
        .si_nav{
            .container{
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
            }
            .si_nav_box{
                display: inline-block;
            }
        }
    }
    .map_image{
        overflow-x: auto;
        height: 640px;
        .map_img{
            height: 716px;
            max-width: none;
            width: 1366px;
        }
        ul{
            width: 1366px;
            height: 716px;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .filter_map{
        padding: 0 40px;
        .fm_box{
            display: flex;
        }
    }
}
@media only screen and (max-width: 767px) {
    .filter_btn{
        padding: 0 20px;
        display: block;
        div{
            display: flex;
            padding: 0 10px;
            border: 1px solid #000;
            margin: 0 auto;
            height: 56px;
            align-items: center;
            justify-content: start;
            background: url('../assets/main/keyboard_arrow_down.png') no-repeat right 10px center / 24px;
            &.active{
                background: url('../assets/main/keyboard_arrow_up.png') no-repeat right 10px center / 24px;
            }
        }
        img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    .filter_map{
        padding: 0 20px;
        display: block;
        text-align: left;
        .fm_box{
            margin-right: 0;
            display: flex;
            justify-content: start;
        }
    }
    .filter_map{
        display: none;
        &.active{
            display: block;
        }
    }
}