@import "../styles/main.scss";

.section_ombak_kids{
    padding-top: 80px;
    .ombak_kids_banner{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }
    .ok_image{
        width: 55%;
        img{
            width: 100%;
            display: block;
        }
    }
    .ok_info{
        width: 45%;
        background: $blue url('../assets/home/wave_orange.png') no-repeat bottom center / contain;
        .oki_box{
            padding:40px 60px;
            font-size: 16px;
        }
        .sub_title{
            font-size: 14px;
            display: block;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        h3{
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 20px;
            font-family: 'Antique Olive Std Black';
            text-transform: capitalize;
        }
    }
}
.section_festival{
    background: #F0EBE6;
    padding: 60px 0 0;
    .container{
        max-width: 1130px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #000;
    }
    .festival_item{
        &:last-child{
            .festival_box{
                border-bottom: none;
            }
        }
    }
    .festival_box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
        margin-bottom: 60px;
        border-bottom: 1px solid #000; 
        &.reverse{
            flex-direction: row-reverse;
            .box_text{
                padding-left: 100px;
                padding-right: 0;
            }
        }
        .box_image{
            width: 50%;
            img{
                width: 100%;
                display: block;
            }
        }
        .box_text{
            width: 50%;
            padding-left: 100px;
            padding-right: 100px;
            h3{
                font-size: 32px;
                font-family: 'Antique Olive Std Bold';
                margin-bottom: 40px;
                position: relative;
                span{
                    width: 51px;
                    height: 57px;
                    display: block;
                    background: url('../assets/main/background_number.png') no-repeat center / contain;
                    position: absolute;
                    top: -8px;
                    left: -75px;
                    line-height: 57px;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        button{
            background: $orange;
            border-radius: 45px;
            height: 45px;
            color:#fff;
            padding: 0 20px;
        }
    }
}
.more_experience{
    background: #F0EBE6;
    padding: 60px 0;
    .container{
        max-width: 1130px;
        margin: 0 auto;
        h3{
            font-size: 40px;
            font-family: 'Antique Olive Std Black';
            margin-bottom: 40px;
        }
        .row_flex{
            display: flex;
            flex-wrap: wrap; 
        }
        .me_box{
            width: calc((100% - 50px)/3);
            margin-right: 25px;
            padding: 120px 25px 25px;
            position: relative;
            &:first-child{
                background: $yellow url('../assets/main/square_wave_yellow.png') no-repeat top left / 65px;
            }
            &.music_and_performance{
                background: $purple url('../assets/main/square_wave_green2.png') no-repeat top left / 65px;
                color:#fff;
                .button{
                    border-color:#fff;
                    background: url('../assets/home/arrow_white.png') no-repeat center / 27px;
                }
            }
            &:last-child{
                background: $green url('../assets/main/square_wave_green.png') no-repeat top left / 65px;
                margin-right: 0;
            }
            h4{
                font-size: 32px;
                font-family: 'Antique Olive Std Black';
                line-height: normal;
            }
            .button{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                border:1px solid #000;
                background: url('../assets/home/arrow_black.png') no-repeat center / 27px;
                text-indent: -9999px;
                position: absolute;
                bottom: 25px;
                right: 25px;
                left: auto;
            }
        }
    }
}