@import '../styles/main.scss';

html{
    overflow-x: hidden;
}
.section_one{
    width: 100%;
    background: $purple;
    position: relative;
    padding-top: 80px;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100px;
        background: $purple;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
    }
    img{
        width: 100%;
        display: block;
        position: relative;
        z-index: 10;
    }
    .container{
        width: 100%;
        max-width: 1130px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
    .mobile_text{
        display: none;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .text,
    .mobile_text{
        color:#fff;
        margin-top: 9%;
        margin-left: 3%;
        font-family: 'Roboto';
        font-weight: 500;
        ul{
            display: flex;
            li{
                &:first-child{
                    padding-right: 15px;
                    border-right:1px solid #fff
                }
                &:last-child{
                    padding-left: 15px;
                }
            }
        }
        .text_info{
            font-size: 20px;
            font-family: 'Antique Olive Std Bold';
            span{
                color:rgba(255, 225, 127, 1);
                display: block;
                margin-top: 30px;
            }
        }
        img{
            width: 280px;
            display: block;
            margin-bottom: 15px;
            margin-left: -12px;
        }
    }
}
.section_two{
    background: rgba(240, 235, 230, 1);
    color: #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 625px;
    position: relative;
    .container{
        width: 100%;
        max-width: 760px;
        text-align: center;
        position: relative;
        z-index: 1;
        img{
            display: inline-block;
            margin: 0 10px;
        }
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    h2{
        font-size: 40px;
    }
    .ornament_1{
        width: 360px;
        height: 300px;
        position: absolute;
        top: -160px;
        left: 0;
        background: url('../assets/home/ornament_1.png') no-repeat top left / contain;
        z-index: 10;
    }
    .ornament_2{
        width: 126px;
        height: 266px;
        position: absolute;
        top: 0px;
        left: 0;
        background: url('../assets/home/ornament_2.png') no-repeat top left / contain;
    }
    .ornament_3{
        width: 144px;
        height: 152px;
        position: absolute;
        top: 130px;
        left: 100px;
        background: url('../assets/home/Isolation_Mode.png') no-repeat top left / contain;
    }
    .ornament_4{
        width: 225px;
        height: 236px;
        position: absolute;
        top: 140px;
        left: 0;
        background: url('../assets/home/Rectangle.png') no-repeat top left / contain;
        z-index: 9;
    }
    .ornament_5{
        width: 283px;
        height: 459px;
        position: absolute;
        top: 150px;
        left: 0;
        background: url('../assets/home/ornament_5.png') no-repeat top left / contain;
    }
    .ornament_6{
        width: 118px;
        height: 155px;
        position: absolute;
        top: 450px;
        left: 0;
        background: url('../assets/home/ornament_6.png') no-repeat top left / contain;
    }
    .ornament_7{
        width: 226px;
        height: 228px;
        position: absolute;
        top: -120px;
        right: 0;
        background: url('../assets/home/ornament_7.png') no-repeat top left / contain;
        z-index: 10;
    }
    .ornament_8{
        width: 152px;
        height: 233px;
        position: absolute;
        top: 0px;
        right: 0;
        background: url('../assets/home/ornament_8.png') no-repeat top left / contain;
        z-index: 10;
    }
    .ornament_8a{
        width: 230px;
        height: 230px;
        position: absolute;
        top: 120px;
        right: -120px;
        background: url('../assets/home/Bunga_Penawar.png') no-repeat top left / contain;
        z-index: 10;
    }
    .ornament_9{
        width: 52px;
        height: 60px;
        position: absolute;
        top: 220px;
        right: 100px;
        background: url('../assets/home/ornament_9.png') no-repeat top left / contain;
    }
    .ornament_10{
        width: 199px;
        height: 262px;
        position: absolute;
        top: 260px;
        right: -20px;
        background: url('../assets/home/Wayang_Kulit.png') no-repeat top left / contain;
        z-index: 12;
    }
    .ornament_11{
        width: 283px;
        height: 262px;
        position: absolute;
        top: 290px;
        right: 0;
        background: url('../assets/home/ornament_11.png') no-repeat top left / contain;
    }
    .ornament_12{
        width: 111px;
        height: 322px;
        position: absolute;
        top: 390px;
        right: 0;
        background: url('../assets/home/ornament_12.png') no-repeat top left / contain;
    }
}
.section_three{
    background: rgba(240, 235, 230, 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0 60px;
    .category_box{
        width: calc(100% / 4);
        &:hover{
            .category_image{
                img{
                    transform: scale(1.1);
                    transition: all 0.3s ease;
                }
            }
            .category_text{
                .category_title{
                    text-decoration: underline;
                }
            }
        }
        .category_image{
            overflow: hidden;
            img{
                width: 100%;
                display: block;
                transition: all 0.3s ease;
            }
        }
        .category_text{
            .category_title{
                padding: 32px 50px 0 32px;
                height: 130px;
                font-family: 'Antique Olive Std Black';
                font-size: 28px;
                line-height: 34px;
            }
            img{
                width: 100%;
                display: block;
            }
        }
        &:first-child{
            .category_text{
                background: $purple;
                .category_title{
                    color:#fff;
                }
            }
        }
        &:nth-child(2){
            .category_text{
                background: $green;
                .category_title{
                    color:#000;
                }
            }
        }
        &:nth-child(3){
            .category_text{
                background: $yellow;
                .category_title{
                    color:#000;
                }
            }
        }
        &:nth-child(4){
            .category_text{
                background: $blue;
                .category_title{
                    color:#fff;
                }
            }
        }
    }
}
.section_four{
    position: relative;
    .container{
        width: 100%;
        max-width: 1130px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .box_left{
            width:40%;
            h3{
                font-size: 40px;
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 40px;
                font-size: 20px;
                line-height: 22px;
                font-family: 'Roboto';
            }
            .button{
                width: 65px;
                height: 65px;
                background:$orange url('../assets/home/arrow_white.png') no-repeat center center / 35px;
                display: block;
                border-radius: 65px;
                text-indent: -9999px;
                transition: all 0.2s ease;
                font-family: 'Antique Olive Std Black';
                &:hover{
                    background: $green url('../assets/home/arrow_green.png') no-repeat center center / 35px;;
                }
            }
        }
        .box_right{
            width:60%;
            display: flex;
            flex-wrap: wrap;
            .resorts_box{
                width: 260px;
                height: 142px;
                display: block;
                background: $darkgreen;
                margin-right: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                &:hover{
                    background: #fff;
                    transition: all 0.3s ease;
                    img{
                        transition: all 0.3s ease;
                        filter: invert(100%) brightness(1000%);
                    }
                }
                &:first-child{
                    img{
                        width: 104px;
                        display: block;
                    }
                }
                &:nth-child(2){
                    img{
                        width: 127px;
                        display: block;
                    }
                }
                &:nth-child(3){
                    img{
                        width: 140px;
                        display: block;
                    }
                }
                &:nth-child(4){
                    img{
                        width: 122px;
                        display: block;
                    }
                }
            }
        }
    }
}
.section_five{
    background: $purple;
    color:#fff;
    padding-top: 60px;
    text-align: center;
    .container{
        max-width: 1130px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    h2{
        font-family: 'Antique Olive Std Black';
        font-size: 40px;
        margin-bottom: 40px;
        span{
            color: $green;
        }
    }
    img{
        width: 100%;
        display: block;
    }
    .artist_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .artist_box{
        width: calc((100% - 90px)/4);
        margin-right: 30px;
        margin-bottom: 20px;
        &:hover{
            .artist_image{
                img{
                    transform: scale(1.1);
                    transition: all ease 0.3s;
                }
            }
            .artist_name{
                text-decoration: underline;
            }
        }
        &:nth-child(4n){
            margin-right: 0;
        }
        .artist_image{
            margin-bottom: 20px;
            width: 100%;
            height: 295px;
            &.mask1{
                mask-image: url('../assets/main/new-Mask-group1.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
                mask-size: cover;
                -webkit-mask-image: url('../assets/main/new-Mask-group1.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
                -webkit-mask-size: cover;
            }
            &.mask2{
                mask-image: url('../assets/main/new-Mask-group2.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
                mask-size: cover;
                -webkit-mask-image: url('../assets/main/new-Mask-group2.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
                -webkit-mask-size: cover;
            }
            &.mask3{
                mask-image: url('../assets/main/new-Mask-group3.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
                mask-size: cover;
                -webkit-mask-image: url('../assets/main/new-Mask-group3.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
                -webkit-mask-size: cover;
            }
            &.mask4{
                mask-image: url('../assets/main/new-Mask-group4.png'); /* Ganti dengan path ke file PNG yang digunakan sebagai mask */
                mask-size: cover;
                -webkit-mask-image: url('../assets/main/new-Mask-group4.png'); /* Untuk kompatibilitas dengan browser WebKit seperti Safari */
                -webkit-mask-size: cover;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: all ease 0.3s;
            }
        }
        .artist_name{
            font-size: 24px;
        }
    }
    .button{
        background: $orange;
        color:#fff;
        width: 130px;
        height: 45px;
        display: block;
        margin: 0 auto 80px;
        line-height: 45px;
        text-transform: uppercase;
        border-radius: 45px;
        cursor: pointer;
        transition: all 0.2s ease;
        font-family: 'Antique Olive Std Black';
        &:hover{
            background: $green;
            color:$darkgreen;
            transition: all 0.2s ease;
        }
    }
}
.section_six{
    background: $yellow;
    padding: 60px 0 100px;
    .container{
        max-width: 1130px;
        width: 100%;
        display: block;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .misc_box{
        width: calc((100% - 60px)/3);
        margin-right: 30px;
        padding-top: 25px;
        padding-left: 15px;
        border-top: 1px solid #000;
        position: relative;
        padding-right: 60px;
        h3{
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 40px;
        }
        &:last-child{
            margin-right: 0;
        }
        p{
            font-size: 16px;
            line-height: 20px;
            font-family: 'Roboto';
        }
        .button{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            display: block;
            position: absolute;
            top: 35px;
            right: 20px;
            border: 1px solid #000;
            text-indent: -9999px;
            font-family: 'Antique Olive Std Black';
            background: url('../assets/home/arrow_black.png') no-repeat center / 27px;
        }
    }
}
.section_seven{
    background: $orange;
    padding: 105px 0 105px;
    .container{
        width: 100%;
        max-width: 1130px;
        margin: 0 auto;
        text-align: center;
        img{
            width: 100%;
            display: block;
            margin-bottom: 30px;
            &.mobile{
                display: none;
            }
        }
        h3{
            color:#fff;
            font-size: 40px;
            font-family: 'Antique Olive Std Black';
            margin-bottom: 20px;
        }
        .button{
            background: $purple;
            color: #fff;
            width: 320px;
            height: 45px;
            display: block;
            margin: 0 auto;
            line-height: 45px;
            text-transform: uppercase;
            border-radius: 45px;
            cursor: pointer;
            transition: all 0.2s ease;
            font-family: 'Antique Olive Std Black';
            &:hover{
                background: $green;
                color:$darkgreen;
                transition: all 0.2s ease;
            }
        }
    }
}
.section_eight{
    padding: 60px 0;
    background: #F0EBE6;
    .container{
        max-width: 1170px;
        margin: 0 auto;
        h3{
            font-size: 40px;
            margin-bottom: 40px;
            padding-left: 20px;
        }
    }
    .slider_box{
        height: 50px;
        width: 100%;
        position: relative;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: grayscale(100%);
            transition: filter 0.3s;
        }
        &:hover{
            img{
                filter: grayscale(0%);
                transition: filter 0.3s;
            }
        }
    }
    .slick-initialized .slick-slide{
        padding: 0 20px !important;
    }
}
@media only screen and (max-width:1129px){
    html{
        overflow-x: hidden;
    }
    .section_four{
        .container{
            padding: 0 40px;
            .box_right{
                padding-left: 40px;
                .resorts_box{
                    width: 240px;
                }
            }
        }
    }
    .section_five{
        .artist_wrapper{
            padding: 0 40px;
        }
    }
    .section_seven{
        .container{
            padding: 0 40px;
        }
    }
}
@media only screen and (max-width:959px){
    .section_one{
        min-height:100vh;
        img{
            width: 100%;
            position: absolute;
            top: 60vh;
            left: 0;
        }
        video{
            height:40vh;
            top:60vh;
        }
        .text{
            width:100%;
            margin-left:0;
            margin-top:0;
            position: absolute;
            top: -35vh;
            text-align:center;
            img{
                position: static;
                width: 280px;
                margin:0 auto 10px;
            }
            .text_info{
                font-size: 18px;
                span{
                    margin-top:10px;
                    font-size: 18px;
                }
            }
        }
    }
    .section_two{
        h2{
            font-size: 28px;
        }
        .ornament_1{
            width: 180px;
            height: 180px;
            top:-80px;
        }
        .ornament_2{
            width: 85px;
            height: 155px;
            top:10px;
        }
        .ornament_3{
            width: 92px;
            height: 96px;
            top:40px;
        }
        .ornament_4{
            width: 192px;
            height:192px;
            top: 140px;
        }
        .ornament_5{
            width: 212px;
            height:212px;
            top: 240px;
        }
        .ornament_6{
            width: 122px;
            height:122px;
            top: 380px;
        }
        .ornament_7{
            width: 182px;
            height:182px;
            top:-110px;
            right: -5px;
        }
        .ornament_8{
            width: 182px;
            height:182px;
            top:-110px;
            right: -5px;
        }
    }
}
@media only screen and (max-width:767px){
    html{
        overflow-x: hidden;
    }
    .section_one{
        min-height:100vh;
        background: $purple;
        padding-top: 60px;
        &::before{
            display: none;
        }
        img{
            width: 100%;
            position: absolute;
            top: 295px;
            left: 0;
        }
        video{
            height:52vh;
            top:299px;
        }
        .container{
            display: none;
        }
        .mobile_text{
            width:100%;
            display: block;
            margin: 0;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
            img{
                position: static;
                width: 280px;
                margin:0 auto 10px;
            }
            .text_info{
                font-size: 18px;
                span{
                    margin-top:10px;
                    font-size: 18px;
                }
            }
        }
    }
    .section_two{
        height: auto;
        .container{
            padding: 80px 20px;
            img{
                max-width: 25px;
            }
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }
        h2{
            font-size: 24px;
        }
        .ornament_1{
            width: 90px;
            height: 84px;
            top:-30px;
            left: -20px;
        }
        .ornament_2{
            width: 60px;
            height: 115px;
            top: 0px;
            left: 0px;
        }
        .ornament_3{
            width: 68px;
            height: 68px;
            top: 0px;
            left: 30px;
        }
        .ornament_4{
            width: 160px;
            height:160px;
            top: 70px;
            left: -34px;
        }
        .ornament_5{
            width: 160px;
            height:160px;
            top: 200px;
            left: -45px;
        }
        .ornament_6{
            width: 90px;
            height:90px;
            top: 300px;
            left: -30px;
        }
        .ornament_7{
            width: 90px;
            height:90px;
            top: -45px;
            right: -35px;
        }
        .ornament_8{
            width: 90px;
            height:90px;
            top: 10px;
            right: -30px;
        }
        .ornament_8a{
            width: 120px;
            height:120px;
            top: 60px;
            right: -65px;
        }
        .ornament_9{
            width: 25px;
            height:25px;
            top: 25px;
            right: 10px;
            z-index: 10;
        }
        .ornament_10{
            width: 90px;
            height:150px;
            top: 205px;
            right: -20px;
            z-index: 10;
        }
        .ornament_11{
            width: 120px;
            height:200px;
            top: 260px;
            right: -20px;
            z-index: 9;
        }
        .ornament_12{
            width: 100px;
            height:120px;
            top: 290px;
            right: -60px;
            z-index: 9;
        }
    }
    .section_three{
        padding-bottom: 40px;
        .category_box{
            width: calc(100% / 2);
            .category_text{
                .category_title{
                    font-size: 18px;
                    line-height: normal;
                    height: 80px;
                }
            }
        }
    } 
    .section_four{
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            top:0;
            left:0;
            z-index: -1;
        }
        .container{
            position: static;
            transform: none;
            display: block;
            padding:0;
            .box_left{
                width: 100%;
                padding: 40px 80px 0 20px;
                h3{
                    font-size: 28px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    line-height: normal;
                }
                .button{
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50px;
                    right: 20px;
                }
            }
            .box_right{
                width: 100%;
                padding: 0 20px 40px;
                .resorts_box{
                    width: calc((100% - 20px)/2);
                    height: 85px;
                    margin-right: 20px;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    img{
                        max-width: calc(100% - 40px);
                        position: static;
                        height: 60px;
                        object-fit: contain;
                        display: block;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .section_seven{
        .container{
            padding: 0 20px;
            .desktop{
                display:none;
            }
            img{
                width: 100%;
                &.mobile{
                    display:block;
                }
            }
            h3{
                font-size: 28px;
            }
        }
    }
    .section_five{
        display: block;
        padding-top:40px;
        h2{
            font-size: 28px;
            padding: 0 20px;
            line-height: normal;
        }
        .artist_box{
            &.slider{
                width:260px !important;
                padding: 0 20px;
            }
        }
    }
}